
<br><br>
<div class ="container">
<h5> There are {{counteddocs}},{{countedcoms}},{{counteduser}} number of Posts,Comments,Users in the System.</h5>
<h6>
<p> This a basic Node App where you can login thorough 3 methods <br>--> Google Authentication <br>--> Facebook Authentication  <br>--> Normal Login<br>
  You can create Posts and users can Comment on the Posts.
</p>
</h6>
<h6> Thanks Have a Nice Day</h2>
</div>
<br><br>
