

 <div class="content">
   <div class="title">Login</div>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   {{>main/form-msgs-admin}}
	 <form action="/loginpage" method="post">
   <input type="email" name="email" placeholder="E-mail" required />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
   <input type="password" name="password" placeholder="Password" required />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

   <button type="submit">Login</button>&nbsp; &nbsp; &nbsp;
 </form>
  <div class="already">Dont have an account? <a href="/signup">Sign Up</a></div>
   </div>

 </div>
